.remark-slide-content
  .remark-code,
  .remark-inline-code
    font-family: monospace
  .remark-code
    padding: 1em !important
    border-radius: 10px
    background-color: #ced4d8 !important
    word-wrap: break-word
